/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./assets/images/Moon_Surface_Background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/* Landing Page */
.landing-wrapper {
  background-image: url('./assets/images/Lunar_Logo.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.more-info-button {
  position: fixed;
  bottom: 20px;
  left: 660px;
  background: rgba(73, 73, 73, 0.5);
  padding: 5px 30px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  font-size: 20px;
  box-shadow: rgba(255, 255, 255, 0.425) 2px 2px 2px;
  font-weight: bold;
  transition-duration: 0.3s;
  text-decoration: none;
}

.more-info-button:hover {
  background: rgb(73, 73, 73);
  cursor: pointer;
  transform: scale(1.05);
}
/* End of Landing Page */

/* Home Page*/
.home-wrapper {
  height: 100vh;
}

.home-content {
  margin: 20px;
  justify-content: center;
  text-align: center;
}

.home-header {
  color: rgb(223, 222, 222);
  text-shadow: black 5px 5px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 100px;
  display: inline-block;
  background: rgba(44, 44, 44, 0.607);
  border-radius: 10px;
  padding: 10px 20px;
}

/* Portfolio Section */
.portfolio-wrapper {
  margin-top: 50px;
  align-items: center;
  margin-bottom: 1000px;
  background: transparent;
}

.portfolio-item {
  display: inline-block;
  position: relative;
  transition-duration: 0.5s;
}

.portfolio-item + .portfolio-item {
  margin-left: 20px;
}

.portfolio-image {
  width: 500px;
  height: 290px;
  border-radius: 8px;
}

.portfolio-item-box {
  width: 200px;
  position: absolute;
  top: 45%;
  left: 26%;
  padding: 10px 15px;
  font-size: 20px;
  text-align: center;
  background: rgb(206, 206, 206);
  color: rgb(29, 29, 29);
  border-radius: 8px;
  opacity: 0;
  transition-duration: 0.3s;
}

.portfolio-item:hover .portfolio-image {
  opacity: 0.8;
  cursor: pointer;
}

.portfolio-item:hover .portfolio-item-box {
  opacity: 1;
  cursor: pointer;
}

/* End of Portfolio Section */

/* End of Home Page */

/* Navbar */
.navbar-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.678), transparent);
  text-align: center;
}
.navbar-logo {
  height: 120px;
  margin-top: 10px;
}
/* End of Navbar */
